*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.header {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: .9;
    height: 80px;
    z-index: 6;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu {
    order: 2;
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 20px;
    font-size: 16px;
    font-family: helvetica;
}

.menu a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s ease-in-out;
}

.menu a:hover {
    color: #e8c99a;
    transition: 0.3s ease-in-out;
}

.logo {
    color: #e8c99a;
    order: 1;
    font-size: 26px;
    margin-top: -5px;
    font-family: "arial black";
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    width: 50%;
    padding: 50px;
    background: linear-gradient(
        60deg,
        rgb(255, 255, 255),
        rgb(160, 160, 160));
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3 {
    font-size: 26px;
    margin-bottom: 50px;
    font-family: helvetica;
}

.form-part {
    margin: 10px 0 20px 0;
    width: 100%;
}

.form label {
    font-family: helvetica;
    font-weight: 600;
}

.form input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-indent: 10px;
    border: 2px solid #e8c99a;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.form input:focus {
    border-color: #aaa;
}

.form input[type="submit"] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    text-indent: 0;
    border: none;
    background-color: #e8c99a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form input[type="submit"]:hover {
    background-color: #fae2be;
}
.logo img {
    height: 50px; /* Высота логотипа */
    width: auto; /* Ширина будет автоматически рассчитываться, чтобы сохранить пропорции */
    vertical-align: middle; /* Выравнивание по вертикали */
    margin-right: 5px; /* Добавление небольшого отступа между изображением и текстом */
}