*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding-top: 100px; /* Установим отступ сверху для контента */
}

.header {
    background-color: #fff;
    color: #000;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 5px 10px 0px #aaa;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 40px;
    vertical-align: middle;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    color: #e8c99a;
}

.content {
    margin-top: 100px; /* Отступ сверху для контента, чтобы не перекрывалось шапкой */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

td select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
}
